ogb==1.3.6
matplotlib
sparqlwrapper
outlier-utils
rich
ipython
openai
llama-index
llama-index-llms-ollama
llama-index-llms-openai
llama-index-llms-deepseek
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-index-embeddings-openai
