ogb==1.3.6
numpy==1.26.4
matplotlib==3.8.0
sparqlwrapper==2.0.0
outlier-utils==0.0.5
rich==13.9.4
ipython==8.14.0
outdated==0.2.2
openai
llama-index
llama-index-llms-ollama
llama-index-llms-deepseek
llama-index-embeddings-huggingface
llama-index-embeddings-ollama



